EstoqueService/Cliente/Connected Services/ServicoEstoque/ServicoEstoque.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/02" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdicionarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroProduto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarEstoqueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>