EstoqueService/Cliente/Connected Services/ServicoEstoque/ServicoEstoque1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/02" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/02/Imports">
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd4" namespace="http://projetoavaliativo.dm113/02" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Estoque" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoEstoqueV2_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoEstoqueV2">
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/AdicionarEstoque" message="tns:IServicoEstoqueV2_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/AdicionarEstoqueResponse" message="tns:IServicoEstoqueV2_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/RemoverEstoque" message="tns:IServicoEstoqueV2_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/RemoverEstoqueResponse" message="tns:IServicoEstoqueV2_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/ConsultarEstoque" message="tns:IServicoEstoqueV2_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoqueV2/ConsultarEstoqueResponse" message="tns:IServicoEstoqueV2_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>