EstoqueService/Cliente/Connected Services/ServicoEstoque/ServicoEstoque2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/01/Imports">
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51459/ServicoEstoque.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Estoque" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoEstoque_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoEstoque">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/ListarProdutos" message="tns:IServicoEstoque_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/ListarProdutosResponse" message="tns:IServicoEstoque_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/IncluirProduto" message="tns:IServicoEstoque_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/IncluirProdutoResponse" message="tns:IServicoEstoque_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/RemoverProduto" message="tns:IServicoEstoque_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/RemoverProdutoResponse" message="tns:IServicoEstoque_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/ConsultarEstoque" message="tns:IServicoEstoque_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/ConsultarEstoqueResponse" message="tns:IServicoEstoque_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/AdicionarEstoque" message="tns:IServicoEstoque_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/AdicionarEstoqueResponse" message="tns:IServicoEstoque_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/RemoverEstoque" message="tns:IServicoEstoque_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/RemoverEstoqueResponse" message="tns:IServicoEstoque_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/VerProduto" message="tns:IServicoEstoque_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IServicoEstoque/VerProdutoResponse" message="tns:IServicoEstoque_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>